<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="walliV2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import walliV2 urdf file -->
    <xacro:include filename="$(find walli_description)/urdf/walliV2.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="walliV2.ros2_control.xacro" />


    <xacro:walliV2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
